@import "slider.css";

html, body {
  margin: 0;
  position: revert;
  height: 100%;
  font-family: 'PT Sans', sans-serif;

}

$text_color_gray: gray;
$text_color_white: white;


//--------------------HEADER-----------//
.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0 0 10px 3px #7777;
    position: fixed;
    z-index: 1;

    &_item {
      width: 1220px;
      display: flex;
      margin: auto 15px auto;
      justify-content: space-between;
      align-items: center;

      .fa-x {
        display: none;
      }

      .fa-solid {
        display: none;
      }

      .header_logo {
        padding: 5px;

        &_img {
          height: 75px;

        }
      }
    }

    .header_menu {
      &_btm {
        color: $text_color_gray;
        background: white;
        text-decoration: none;
        margin: 5px;


        &:hover {
          color: white;
          height: 40px;
          width: 150px;
          padding: 13px 30px;
          background: #347bb7;
          border-radius: 40px;
          transition: .25s ease-out;
          margin: 5px;
        }
      }

    }
  }

  //--------------------TEXT_AND_FORM---------------------//
  .main {
    flex: 1 1 auto;
    margin-top: 90px;

    .text_and_form-wrap {
      background: #f7f7f7;
      width: 100%;

      .text_and_form {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 1220px;


        &_text, &_form {
          width: 35%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          & h2 {
            margin-bottom: 0;
          }
        }

        &_text {
          text-align: center;
          line-height: 25px;

          &_small, &_big {
            padding: 0 50px 0 0;

          }

          &_small {
            color: $text_color_gray;
          }
        }

        //----------FORM------------//
        &_form {


          & p {
            margin-bottom: 5px;
            color: $text_color_gray;

            & .required {
              height: 7px;
            }
          }

          & label .required {
            height: 8px;

          }

          & label .input-stile {
            width: 90%;
            height: 40px;
            border-radius: 5px;
            border: $text_color_gray solid 1px;
            padding-left: 5px;

          }

          & input {
            &:focus-visible {
              box-shadow: 0 0 8px 2px #B1E9FF;
              border: 1px solid #B1E9FF;
              background: #fff;
              color: #525865;
              border-radius: 4px;
              outline: none;

              transition: .18s ease-out;
            }
          }

          .checkbox {
            margin-top: 15px;

            .lable {
              color: $text_color_gray;

              & a {
                color: #347bb7;
                text-decoration: none;
              }
            }
          }

          & .form-button {
            text-align: center;

            button {
              text-align: center;
              color: white;
              height: 40px;
              width: 300px;
              padding: 13px 30px;
              background: #347bb7;
              border-radius: 40px;
              transition: background 2s;
              margin: 20px;
              border: none;
              font-family: 'PT Sans', sans-serif;

            }
          }
        }
      }
    }

    .blue-line {
      background: #347bb7;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &-box {
        text-align: center;
        margin: 50px 20px;

      }

      &-img {
        width: 75px;
        height: 50px;
      }

      &-num {
        margin: 15px;
        color: $text_color_white;
        font-size: 25px;
      }

      &-text {
        color: $text_color_white;
        font-size: 14px;

      }
    }
  }

  .footer {
  }

}

@media screen and (max-width: 680px) {
  .wraper {
    //---------------HEADER-MOB----------//
    .header {
      .header_item {
        .header_logo {
        }

        .fa-x {
          display: none;
        }

        .fa-bars {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background: #347bb7;
          border-radius: 5px;
          height: 40px;
          width: 60px;
          text-align: center;
        }

        .header_menu {
          display: none;

          &_btm {
            &:hover {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px
            }
          }
        }

        .active_manu {
          display: flex;
          position: absolute;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: #ffffff;
          margin: 257px -15px 0 -15px;
          width: 100vw;
          box-shadow: 0 10px 9px #7777;
        }
      }
    }

    .main {
      flex: 1 1 auto;
      margin-top: 90px;

      .text_and_form-wrap {
        .text_and_form {
          display: flex;
          flex-direction: column;

          &_text {
            width: 100%;

            &_big, &_small {
              padding: 10px;
            }

          }

          &_form {
            width: 100%;

            & h2 {
              text-align: center;

            }

            & form {
              padding-left: 15px;

              & .form-button {
                padding-right: 10px;

                button {
                  width: 86%
                }
              }
            }
          }
        }
      }
    }

    .blue-line {
      &-box {
        width: 120px;

        & .blue-line-num {
          margin: 0;
        }

        & .blue-line-text {
          font-size: 14px
        }
      }

    }
  }
}
