@import "slider.css";
html, body {
  margin: 0;
  position: revert;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wraper .header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0 0 10px 3px rgba(119, 119, 119, 0.4666666667);
  position: fixed;
  z-index: 1;
}
.wraper .header_item {
  width: 1220px;
  display: flex;
  margin: auto 15px auto;
  justify-content: space-between;
  align-items: center;
}
.wraper .header_item .fa-x {
  display: none;
}
.wraper .header_item .fa-solid {
  display: none;
}
.wraper .header_item .header_logo {
  padding: 5px;
}
.wraper .header_item .header_logo_img {
  height: 75px;
}
.wraper .header .header_menu_btm {
  color: gray;
  background: white;
  text-decoration: none;
  margin: 5px;
}
.wraper .header .header_menu_btm:hover {
  color: white;
  height: 40px;
  width: 150px;
  padding: 13px 30px;
  background: #347bb7;
  border-radius: 40px;
  transition: 0.25s ease-out;
  margin: 5px;
}
.wraper .main {
  flex: 1 1 auto;
  margin-top: 90px;
}
.wraper .main .text_and_form-wrap {
  background: #f7f7f7;
  width: 100%;
}
.wraper .main .text_and_form-wrap .text_and_form {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1220px;
}
.wraper .main .text_and_form-wrap .text_and_form_text, .wraper .main .text_and_form-wrap .text_and_form_form {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wraper .main .text_and_form-wrap .text_and_form_text h2, .wraper .main .text_and_form-wrap .text_and_form_form h2 {
  margin-bottom: 0;
}
.wraper .main .text_and_form-wrap .text_and_form_text {
  text-align: center;
  line-height: 25px;
}
.wraper .main .text_and_form-wrap .text_and_form_text_small, .wraper .main .text_and_form-wrap .text_and_form_text_big {
  padding: 0 50px 0 0;
}
.wraper .main .text_and_form-wrap .text_and_form_text_small {
  color: gray;
}
.wraper .main .text_and_form-wrap .text_and_form_form p {
  margin-bottom: 5px;
  color: gray;
}
.wraper .main .text_and_form-wrap .text_and_form_form p .required {
  height: 7px;
}
.wraper .main .text_and_form-wrap .text_and_form_form label .required {
  height: 8px;
}
.wraper .main .text_and_form-wrap .text_and_form_form label .input-stile {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: gray solid 1px;
  padding-left: 5px;
}
.wraper .main .text_and_form-wrap .text_and_form_form input:focus-visible {
  box-shadow: 0 0 8px 2px #B1E9FF;
  border: 1px solid #B1E9FF;
  background: #fff;
  color: #525865;
  border-radius: 4px;
  outline: none;
  transition: 0.18s ease-out;
}
.wraper .main .text_and_form-wrap .text_and_form_form .checkbox {
  margin-top: 15px;
}
.wraper .main .text_and_form-wrap .text_and_form_form .checkbox .lable {
  color: gray;
}
.wraper .main .text_and_form-wrap .text_and_form_form .checkbox .lable a {
  color: #347bb7;
  text-decoration: none;
}
.wraper .main .text_and_form-wrap .text_and_form_form .form-button {
  text-align: center;
}
.wraper .main .text_and_form-wrap .text_and_form_form .form-button button {
  text-align: center;
  color: white;
  height: 40px;
  width: 300px;
  padding: 13px 30px;
  background: #347bb7;
  border-radius: 40px;
  transition: background 2s;
  margin: 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
}
.wraper .main .blue-line {
  background: #347bb7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wraper .main .blue-line-box {
  text-align: center;
  margin: 50px 20px;
}
.wraper .main .blue-line-img {
  width: 75px;
  height: 50px;
}
.wraper .main .blue-line-num {
  margin: 15px;
  color: white;
  font-size: 25px;
}
.wraper .main .blue-line-text {
  color: white;
  font-size: 14px;
}
@media screen and (max-width: 680px) {
  .wraper .header .header_item .fa-x {
    display: none;
  }
  .wraper .header .header_item .fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #347bb7;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    text-align: center;
  }
  .wraper .header .header_item .header_menu {
    display: none;
  }
  .wraper .header .header_item .header_menu_btm:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  .wraper .header .header_item .active_manu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin: 257px -15px 0 -15px;
    width: 100vw;
    box-shadow: 0 10px 9px rgba(119, 119, 119, 0.4666666667);
  }
  .wraper .main {
    flex: 1 1 auto;
    margin-top: 90px;
  }
  .wraper .main .text_and_form-wrap .text_and_form {
    display: flex;
    flex-direction: column;
  }
  .wraper .main .text_and_form-wrap .text_and_form_text {
    width: 100%;
  }
  .wraper .main .text_and_form-wrap .text_and_form_text_big, .wraper .main .text_and_form-wrap .text_and_form_text_small {
    padding: 10px;
  }
  .wraper .main .text_and_form-wrap .text_and_form_form {
    width: 100%;
  }
  .wraper .main .text_and_form-wrap .text_and_form_form h2 {
    text-align: center;
  }
  .wraper .main .text_and_form-wrap .text_and_form_form form {
    padding-left: 15px;
  }
  .wraper .main .text_and_form-wrap .text_and_form_form form .form-button {
    padding-right: 10px;
  }
  .wraper .main .text_and_form-wrap .text_and_form_form form .form-button button {
    width: 86%;
  }
  .wraper .blue-line-box {
    width: 120px;
  }
  .wraper .blue-line-box .blue-line-num {
    margin: 0;
  }
  .wraper .blue-line-box .blue-line-text {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
